html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #3b3b3b; }

h1,
h2,
h3,
h4,
h5 {
  font-family: HelveticaNeue;
  margin: 6px;
  padding: 0; }

@media (max-width: 992px) {
  .MainBody main {
    display: grid !important;
    padding: 0px 10px; }
  .MainBody .ResultsBox {
    margin-left: 0px !important;
    width: 100% !important;
    animation: none !important;
    transform: translateY(-450px);
    display: none; }
    .MainBody .ResultsBox.mobileAnimation {
      display: block;
      animation: resultBoxMobile 1s 0.5s 1 forwards !important; } }

@media (max-width: 550px) {
  .MainBody main .Calculator {
    width: 92vw !important; }
    .MainBody main .Calculator .form__input__box .error-text {
      font-size: 10px !important; }
    .MainBody main .Calculator .Calculator__form .form__button {
      margin-top: 20px !important; } }

@keyframes resultBoxMobile {
  1% {
    transform: translateY(-450px); }
  100% {
    transform: translateY(-25px); } }

.MainBody .MainHeader {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 25px; }
  .MainBody .MainHeader .MainHeader__title {
    font-family: HelveticaNeue;
    font-size: 22px;
    margin-left: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #005175; }
  .MainBody .MainHeader .MainHeader__divider {
    width: 95vw;
    height: 1px;
    background-color: #cacaca; }

.MainBody main {
  display: flex;
  align-items: center;
  justify-content: center; }

.MainBody .Calculator {
  width: 470px;
  height: 522px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 40px 25px; }
  .MainBody .Calculator .Calculator__title {
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 0;
    color: #3e3d3f; }
  .MainBody .Calculator .Calculator__divider {
    width: 100%;
    height: 1.5px;
    background-color: #cbcbcb; }
  .MainBody .Calculator .Calculator__form {
    margin-top: 20px; }
    .MainBody .Calculator .Calculator__form .form__title {
      font-family: HelveticaNeue;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: 0.2px;
      text-align: left;
      color: #3e3d3f;
      margin-left: 0; }
    .MainBody .Calculator .Calculator__form .form__input__box {
      position: relative;
      height: 73px; }
      .MainBody .Calculator .Calculator__form .form__input__box.loan-amount {
        height: 50px; }
      .MainBody .Calculator .Calculator__form .form__input__box input {
        width: 100%;
        height: 45px;
        padding-left: 40px;
        border-radius: 4px;
        border: solid 1px #a6a6a6;
        background-color: #ffffff;
        outline: 0;
        font-size: 16px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #3e3d3f; }
        .MainBody .Calculator .Calculator__form .form__input__box input:focus {
          border: solid 1px #3e3d3f;
          box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62); }
        .MainBody .Calculator .Calculator__form .form__input__box input.error {
          border: solid 1px #da3535; }
      .MainBody .Calculator .Calculator__form .form__input__box .loan-amount {
        height: 50px; }
      .MainBody .Calculator .Calculator__form .form__input__box .unit {
        position: absolute;
        display: block;
        left: 25px;
        top: 13px;
        z-index: 9;
        width: 10px;
        font-family: HelveticaNeue;
        font-size: 16px;
        text-align: left;
        color: #3e3d3f; }
      .MainBody .Calculator .Calculator__form .form__input__box .error-text {
        font-size: 12px;
        letter-spacing: 0.3px;
        font-weight: bold;
        color: #da3535;
        display: none; }
        .MainBody .Calculator .Calculator__form .form__input__box .error-text.show {
          display: block; }
    .MainBody .Calculator .Calculator__form .range__box {
      display: flex; }
      .MainBody .Calculator .Calculator__form .range__box p {
        margin-right: 4px;
        opacity: 0.8;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #3e3d3f; }
        .MainBody .Calculator .Calculator__form .range__box p.first-measure {
          width: 20px; }
      .MainBody .Calculator .Calculator__form .range__box input[type=range] {
        margin: 22px 7px;
        outline: 0;
        width: 285px;
        height: 8px;
        border-radius: 100px;
        background-color: #d8d8d8;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1091cc), color-stop(100%, #1091cc));
        background-image: -webkit-linear-gradient(#1091cc, #1091cc);
        background-image: -moz-linear-gradient(#1091cc, #1091cc);
        background-image: -o-linear-gradient(#1091cc, #1091cc);
        background-image: linear-gradient(#1091cc, #1091cc);
        background-size: 50% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-appearance: none; }
      .MainBody .Calculator .Calculator__form .range__box input[type=range]::-webkit-slider-thumb {
        width: 25px;
        height: 25px;
        border: 0;
        background: #ffffff;
        border-radius: 100%;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
        -webkit-appearance: none; }
      .MainBody .Calculator .Calculator__form .range__box .form__input__range {
        width: 60px;
        height: 45px;
        border-radius: 4px;
        border: solid 1px #cacaca;
        background-color: #ffffff;
        margin-left: auto;
        outline: 0;
        font-size: 16px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #3e3d3f; }
    .MainBody .Calculator .Calculator__form .form_inline_fields {
      margin-top: 10px;
      display: flex;
      justify-content: space-between; }
      .MainBody .Calculator .Calculator__form .form_inline_fields .unit {
        top: auto;
        bottom: 13px; }
        .MainBody .Calculator .Calculator__form .form_inline_fields .unit.error {
          bottom: 32px; }
      .MainBody .Calculator .Calculator__form .form_inline_fields :first-child {
        margin-right: 10px; }
    .MainBody .Calculator .Calculator__form .form__button {
      width: 100%;
      height: 45px;
      border-radius: 4px;
      background-color: #0077c0;
      color: #FFFFFF;
      font-family: HelveticaNeue;
      font-size: 16px;
      font-weight: bold;
      outline: 0;
      letter-spacing: 1.3px;
      text-align: center;
      margin-top: 40px; }

.MainBody .ResultsBox {
  z-index: -1;
  margin-left: -300px;
  width: 300px;
  height: 440px;
  text-align: left;
  padding: 36px 0px 0px 66px;
  background-color: #eaf6fa;
  animation: resultBoxSlide 0.8s 0.5s 1 forwards; }
  .MainBody .ResultsBox h1,
  .MainBody .ResultsBox h2,
  .MainBody .ResultsBox h4 {
    margin-left: 0;
    font-weight: normal;
    color: #3e3d3f; }
  .MainBody .ResultsBox h1 {
    font-size: 22px;
    line-height: 1.36; }
  .MainBody .ResultsBox h2 {
    font-size: 18px; }
  .MainBody .ResultsBox h4 {
    font-size: 14px;
    line-height: 2.14; }
  .MainBody .ResultsBox .ResultsBox__divider {
    width: 192px;
    height: 1px;
    margin: 20px 0px;
    background: #cbcbcb; }
  .MainBody .ResultsBox .ResultsBox__response {
    opacity: 0.2;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: normal;
    color: #3e3d3f;
    margin: 0; }
    .MainBody .ResultsBox .ResultsBox__response.total {
      font-size: 22px; }
    .MainBody .ResultsBox .ResultsBox__response.calculated {
      height: 30px;
      opacity: 1; }

@keyframes resultBoxSlide {
  1% {
    margin-left: -300px; }
  100% {
    margin-left: -25px; } }

