@import 'reset.scss';
@import 'variables.scss';
@import 'media-queries.scss';

.MainBody {
    .MainHeader {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 25px;

        .MainHeader__title {
            font-family: $main-font;
            font-size: 22px;
            margin-left: 0;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: $main-blue;
        }

        .MainHeader__divider {
            width: 95vw;
            height: 1px;
            background-color: #cacaca;
        }
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Calculator {
        width: 470px;
        height: 522px;
        border-radius: 4px;
        box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 40px 25px;

        .Calculator__title {
            font-family: $main-font;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 0.3px;
            text-align: left;
            margin-left: 0;
            color: $dark-gray;
        }

        .Calculator__divider {
            width: 100%;
            height: 1.5px;
            background-color: #cbcbcb;
        }

        .Calculator__form {
            margin-top: 20px;

            .form__title {
                font-family: $main-font;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.21;
                letter-spacing: 0.2px;
                text-align: left;
                color: $dark-gray;
                margin-left: 0;
            }

            .form__input__box {
                position: relative;
                height: 73px;
                &.loan-amount {
                    height: 50px;
                }

                input {
                    width: 100%;
                    height: 45px;
                    padding-left: 40px;
                    border-radius: 4px;
                    border: solid 1px $light-gray;
                    background-color: #ffffff;
                    outline: 0;
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: $dark-gray;

                    &:focus {
                        border: solid 1px $dark-gray;
                        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
                    }

                    &.error {
                      border: solid 1px $error;
                    }
                }

                .loan-amount {
                    height: 50px;
                }

                .unit {
                    position: absolute;
                    display: block;
                    left: 25px;
                    top: 13px;
                    z-index: 9;
                    width: 10px;
                    font-family: $main-font;
                    font-size: 16px;
                    text-align: left;
                    color: $dark-gray;
                }

                .error-text {
                  font-size: 12px;
                  letter-spacing: 0.3px;
                  font-weight: bold;
                  color: $error;
                  display: none;
                  &.show {
                    display: block;
                  }
                }
            }

            .range__box {
                display: flex;

                p {
                    margin-right: 4px;
                    opacity: 0.8;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    text-align: left;
                    color: $dark-gray;

                    &.first-measure {
                        width: 20px;
                    }
                }

                input[type=range] {
                    margin: 22px 7px;
                    outline: 0;
                    width: 285px;
                    height: 8px;
                    border-radius: 100px;
                    background-color: #d8d8d8;
                    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $light-blue), color-stop(100%, $light-blue));
                    background-image: -webkit-linear-gradient($light-blue, $light-blue);
                    background-image: -moz-linear-gradient($light-blue, $light-blue);
                    background-image: -o-linear-gradient($light-blue, $light-blue);
                    background-image: linear-gradient($light-blue, $light-blue);
                    background-size: 50% 100%;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    -webkit-appearance: none;
                }

                input[type=range]::-webkit-slider-thumb {
                    width: 25px;
                    height: 25px;
                    border: 0;
                    background: #ffffff;
                    border-radius: 100%;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
                    -webkit-appearance: none;
                }

                .form__input__range {
                    width: 60px;
                    height: 45px;
                    border-radius: 4px;
                    border: solid 1px #cacaca;
                    background-color: #ffffff;
                    margin-left: auto;
                    outline: 0;
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: $dark-gray;
                }
            }

            .form_inline_fields {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

                .unit {
                    top: auto;
                    bottom: 13px;
                    &.error {
                        bottom: 32px;
                    }
                }

                :first-child {
                    margin-right: 10px;
                }
            }

            .form__button {
                width: 100%;
                height: 45px;
                border-radius: 4px;
                background-color: #0077c0;
                color: #FFFFFF;
                font-family: $main-font;
                font-size: 16px;
                font-weight: bold;
                outline: 0;
                letter-spacing: 1.3px;
                text-align: center;
                margin-top: 40px;
            }
        }
    }

    .ResultsBox {
        z-index: -1;
        margin-left: -300px;
        width: 300px;
        height: 440px;
        text-align: left;
        padding: 36px 0px 0px 66px;
        background-color: #eaf6fa;
        animation: resultBoxSlide 0.8s 0.5s 1 forwards;

        h1,
        h2,
        h4 {
            margin-left: 0;
            font-weight: normal;
            color: $dark-gray;
        }

        h1 {
            font-size: 22px;
            line-height: 1.36;
        }

        h2 {
            font-size: 18px;
        }

        h4 {
            font-size: 14px;
            line-height: 2.14;
        }

        .ResultsBox__divider {
          width: 192px;
          height: 1px;
          margin: 20px 0px;
          background: #cbcbcb;
        }

        .ResultsBox__response {
            opacity: 0.2;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.67;
            letter-spacing: normal;
            color: $dark-gray;
            margin: 0;

            &.total {
                font-size: 22px;
            }
            // Change color
            &.calculated {
                height: 30px;
                opacity: 1;
            }
        }
    }
}


@keyframes resultBoxSlide {
    1% {
        margin-left: -300px;
    }

    100% {
        margin-left: -25px;
    }
}