@import 'variables.scss';

.MainBody {
    @media(max-width: $medium-screen) {
        main {
            display: grid !important;
            padding: 0px 10px;
        }

        .ResultsBox {
            margin-left: 0px !important;
            width: 100% !important;
            animation: none !important;
            transform: translateY(-450px);
            display: none;

            &.mobileAnimation {
                display: block;
                animation: resultBoxMobile 1s 0.5s 1 forwards !important;
            }
        }
    }

    @media(max-width: $small-screen) {
        main {
            .Calculator {
                width: 92vw !important;

                .form__input__box {
                    .error-text {
                        font-size: 10px !important;
                    }
                }

                .Calculator__form {
                    .form__button {
                        margin-top: 20px !important;
                    }
                }
            }
        }
    }
}

@keyframes resultBoxMobile {
    1% {
        transform: translateY(-450px);
    }

    100% {
        transform: translateY(-25px);
    }
}