// Mobile Screens
$large-screen: 1200px;
$medium-screen: 992px;
$medium2-screen: 768px;
$small-screen: 550px;

// Colors
$main-blue: #005175;
$light-blue: #1091cc;
$dark-gray: #3e3d3f;
$light-gray: #a6a6a6;
$error: #da3535;

// Font
$main-font: HelveticaNeue;