<!-- *ngFor="let value of co | async" -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center> Smart Lab IoT </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="display">
  <ion-content class="card-background-page">
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-sm-9 col-md-6 col-lg-4 col-xl-3 (click)="Loading()">
          <ion-card *ngFor="let value of temp | async">
            <img src="assets/imgs/temp.png" />
            <div class="card-title">{{value.val}}ºC</div>
            <div class="card-subtitle"><b>Temperatura</b></div>
            <ion-icon *ngIf="value.val<27" class="happy" name="md-happy"></ion-icon>
            <ion-icon *ngIf="value.val>26&&value.val<30" style="color:#fffc00;" class="happy" name="md-happy"></ion-icon>
            <ion-icon *ngIf="value.val>29" class="sad" name="md-sad"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col col-6 col-sm-9 col-md-6 col-lg-4 col-xl-3>
          <ion-card *ngFor="let value of umid | async">
            <img src="assets/imgs/umid.png" />
            <div class="card-title">{{value.val}}%</div>
            <div class="card-subtitle"><b>Umidade do Ar</b></div>
            <ion-icon *ngIf="value.val>40&&value.val<66" class="happy" name="md-happy"></ion-icon>
            <ion-icon *ngIf="(value.val>39&&value.val<45)||(value.val>65&&value.val<71)" style="color:#fffc00;" class="happy" name="md-happy"></ion-icon>
            <ion-icon *ngIf="value.val<40&&value.val>70" class="sad" name="md-sad"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col col-6 col-sm-9 col-md-6 col-lg-4 col-xl-3>
          <ion-card *ngFor="let value of co | async">
            <img src="assets/imgs/backgas.png" />
            <div class="card-title">{{value.val}} ppm</div>
            <div class="card-subtitle"><b>Monóxido de carbono (CO)</b></div>
            <ion-icon class="alert" name="md-alert"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-sm-9 col-md-6 col-lg-4 col-xl-3>
          <ion-card *ngFor="let value of glp | async">
            <img src="assets/imgs/backco.png" />
            <div class="card-title">{{value.val}} ppm</div>
            <div class="card-subtitle"><b>Gás Natural (GLP)</b></div>
            <ion-icon class="alert" name="md-alert"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col col-4 col-sm-9 col-md-6 col-lg-4 col-xl-3 text-center>
          <ion-card id="t" *ngFor="let value of lamp | async">
            <img [hidden]="!value.val" src="assets/imgs/lampON.png" />
            <img [hidden]="value.val" src="assets/imgs/lamp.png" />
            <div [hidden]="!value.val" class="card-title on">ON</div>
            <div [hidden]="value.val" class="card-title off">OFF</div>
            <div class="card-subtitle"><b>Lâmpada</b></div>
          </ion-card>
        </ion-col>
      </ion-row>
