.card-background-page {
  .scroll-content{
    background: #e2e2e2;
    left: -10px;
  }
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 15px;
    width: 160px;
  }

  .happy {
    background-color: transparent;
    index: 1;
    font-weight: thin;
    color: #d4f4ca;
    font-size: 2.5em;
    position: absolute;
    left: 13px;
    bottom: 13px;
    animation: blink 5s ease-in infinite;
  }

  .sad {
    background-color: transparent;
    index: 1;
    color: #e35b5b;
    font-size: 2.5em;
    position: absolute;
    left: 13px;
    bottom: 13px;
    animation: blink 5s ease-in infinite;
  }

  .alert {
    background-color: transparent;
    index: 1;
    color: #b53838;
    font-size: 2.5em;
    position: absolute;
    left: 13px;
    bottom: 13px;
    animation: blink 0.7s ease-in infinite;
  }

  @keyframes blink {
    from,
    to {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .card-title.on {
    color: #96eb91;
  }

  .card-title.off {
    color: #da6555;
  }

  .card-title {
    position: absolute;
    top: 26%;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 0.88em;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
  }
}
@media screen and (min-width: 600px) {


}
