   body {
     background-color: white;
     margin: 0px;
     <!-- #79438F -->position: relative;
     top: 0px;
     left: 0px;
     -webkit-transition: 0.7s ease-in;
     -moz-transition: 0.7s ease-in;
     -o-transition: 0.7s ease-in;
     transition: 0.7s ease-in;
   }

   @font-face {
     font-family: axiss;
     src: url(../fonts/Asgalt-Regular.otf);
}

   #txt:hover{
    color: #79438F;
    transition-delay: 0.2s;



   }
   #input11:focus:valid {
     /* when a field is considered valid by the browser */
     background: #fff url(../imagens/ok.jpg) no-repeat 98% center;
     box-shadow: 0 0 5px #5cd053;
     border-color: #28921f;
   }

   #input11:focus:invalid {
     /* when a field is considered invalid by the browser */
     background: #fff url(../imagens/erro.jpg) no-repeat 98% center;
     box-shadow: 0 0 5px #d45252;
     border-color: #b03535
   }

   .ng-scope {
     -webkit-animation: fadeIn 0.45s ease-in-out;
     -moz-animation: fadeIn 0.45s ease-in-out;
     -o-animation: fadeIn 0.45s ease-in-out;
     animation: fadeIn 0.45s ease-in-out;
   }

   .jumbotron {
     background-color: transparent;

     text-align: center;
     margin-top: 200px;

   }

   .buttonform {
     text-align: center;
   }

   .input {
     color: black;
   }

   .textform {
     color: #79438F;
   }

   .table-responsive {
     color: #79438F;
     padding: 25px 0;


   }

   .table-hover>tbody>tr:hover {
     background-color: #f2f2f2;
   }

   .navbar-fixed-top {
     background-color: #79438F;
     border-color: #79438F;
   }
   .navbar-fixed-top.navbar-right.nav-tabs>#tab1:hover {
     
     background-color: #79438F;
     border-color: #79438F;
   }

   .navbar-header {
     position: relative;
     left: 100px;
   }

   .table-hover>tbody>tr {
     background-color: white;
     color: #79438F;
   }

   .titulo {
     font-family: Axiss, Arial, Helvetica, sans-serif;
     color: #79438F;
     font-size: 140%;
     text-align: center;
     margin-top: 150px;
     margin-bottom: 80px;
   }



   .navtxt {
     color: silver;
     font-size: 95%;
     font-family: Verdana, Arial, Helvetica, sans-serif;
   }

   .table-hover>tbody>tr.cabecalho>th {
     background-color: #79438F;
     color: white;
   }

   #icon {
     text-align: center;
   }

   #button1 {
     position: relative;
     left: 0px;
   }

   #button2 {
     position: relative;
     left: 0px;
   }

   .carousel-caption {
     position: absolute;
     left: 175px;
     right: 200px;
     color: #79438F;
     text-shadow: 0px;
   }

   .glyphicon-home {
     color: white;
     font-size: 1.8em;
     text-shadow: 1px 1px gray, -1px -1px gray
   }

   .panel-default {
     background-color: transparent;
   }

   .page-header {
     border-color: white;
   }

   ul.navbar-right>ul.nav-tabs {
     border-bottom: transparent;
     background: #79438F;
   }

   #tab1:hover {
     background: #79438F;
   }

   *:focus {
     outline: none;
   }

   .erro {
     color: red;
   }

   .banner {
     width: 100%;
     height: 30%;
   }

   .sentence {
     color: #79438F;
     margin-bottom: 0px;
   }

   .btn-outline-default {
     transition: .6s;
     background: #79438F;
     color: white;
     border-color: #79438F;
   }

   .btn-outline-default:hover {
     background: #79438F;
     color: white;
     border-color: #79438F;
     text-align: center;
     border-radius: 5.5px;
   }

   .btn-outline-secondary {
     transition: .6s;
     background: transparent;
     color: #79438F;
     border-color: #79438F;
     text-align: center;
   }

   .btn-outline-secondary:hover {
     background: #79438F;
     color: white;
     border-color: #79438F;
     border-radius: 5.5px;
   }

   @-webkit-keyframes fadeIn {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
   }

   @-moz-keyframes fadeIn {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
   }

   @-o-keyframes fadeIn {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
   }

   @keyframes fadeIn {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
   }

   * {
     transition: all 1.2s cubic-bezier(0.0, 0.0, 0.2, 1);
     box-sizing: border-box;
   }

   #label, #button_search {
     cursor: pointer;
     width: 46px;
     background-color: #79438F;
     padding: 3px;
     text-align: center;
     color: #fff;
   }

   #input_search, #label, #button_search {
     height: 46px;
     padding: 5px;
     border: solid 2px #79438F;
   }

   #input_search {
     outline-color: #79438F;
     text-align: center;
     border-radius: 3px 0 0 3px;
     border: 4px;
   }

   #label {
     line-height: 35px;
     border-radius: 5px;
   }


   #input_search:not(:focus) {
     width: 0;
     margin: 0;
     padding: 0;
   }

   #input_search:not(:focus)~#button_search {
     display: none;
   }

   #input_search:hover {
     width: 200px;
   }

   #input_search:focus~#label {
     display: none;
     padding: 5px;
   }

   #input_search:focus~#button_search {
     display: inline-block;
     padding: 5px;
   }

   #input_search {
     border-right-width: 0;
     border: 1.5px solid #79438F;
     border-radius: 10px;
   }

   #button_search {
     background: #79438F;
     border-radius: 80px;
     border: 2px solid #79438F;
   }

   .glyphicon-search {
     color: white;
   }
