<!-- A1_BAIRRO
:
"Bairro do cliente."
A1_BCO1
:
"Código do agente cobrador sugerido como primeira opção para a distribuição automática dos títulos do cliente  para a montagem de um borderô de cobrança. "
A1_CBAIRRE
:
""
A1_CEP
:
"Código de endereçamento postal do cliente."
A1_CGC
:
"04596151111"
A1_COD
:
"Ex.: 000001"
A1_CODPAIS
:
"Informe o Codigo do Pais segundo tabela do Banco Central do Brasil"
A1_COD_MUN
:
"o código do IBGE de 5 digitos."
A1_CONTRIB
:
"1 - Sim"
A1_END
:
"Endereço do cliente."
A1_EST
:
"Unidade da federação do cliente."
A1_GRPTRIB
:
"040"
A1_INSCR
:
"D"
A1_LOJA
:
"Ex.: 02 "
A1_MUN
:
"Município do cliente."
A1_NATUREZ
:
"Campo utilizado para informar a natureza do título, quando gerado, para o módulo financeiro."
A1_NOME
:
"Nome ou razão social do cliente."
A1_NREDUZ
:
"Auxilia nas consultas e relatórios do sistema."
A1_PESSOA
:
"Fisica"
A1_TIPO
:
"Produtor Rural"
A1_TPESSOA
:
"CI - Comercio/Industria"
A1_XBLFAT
:
"Bloqueio Faturamento"
A1_XCART
:
"Imp. Boleto na Loja? 1-Sim/2-Nao/3-Carteira."
A1_XNFE
:
"S-Sim ou N-Nao" -->
<div class="table-responsive">
  <div class="panel panel-default">
    <table class="table table-hover">
      <h4>Lista de Clientes</h4>
      <tr class="cabecalho">
        <th class="text-center"> NOME </th>
        <th class="text-center"> CGC </th>
        <th class="text-center"> TPESSOA </th>
        <th class="text-center"> XNFE</th>
        <th class="text-center"> GRPTRIB</th>
        <th class="text-center"> Ações</th>
      </tr>
      <input class="search" placeholder="Pesquisar..." type="text" name="" value="" ng-model="filtro"/>
      <i class="fa fa-search"></i>
      <tr dir-paginate="cliente in clientes | filter: filtro | itemsPerPage:10">
        <td class="text-center"> {{cliente.A1_NOME}} </td>
        <td class="text-center">{{cliente.A1_CGC }}</td>
        <td class="text-center">{{cliente.A1_TPESSOA}}</td>
        <td class="text-center">{{cliente.A1_XNFE}}</td>
        <td class="text-center">{{cliente.A1_GRPTRIB}}</td>
        <td class="text-center">
          <a class="btn btn-outline-secondary btn-sm" ng-click="getProdutosId(produto)"
          data-toggle="modal" data-target="#produto-modal">
              Visualizar
            </a>

          <button class="btn btn-outline-default btn-sm" data-toggle="modal" data-target="#delete-modal">Excluir</button>
          <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="modalLabel" text-center>Excluir Cliente</h4>
                </div>
                <div class="modal-body">
                  Deseja realmente excluir este produto?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="remover()">Sim</button>
                  <button type="button" class="btn btn-outline-default btn-sm" data-dismiss="modal">Não</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="produto-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Produto ({{produtoById.$$hashKey}})</h4>
                </div>
                <div class="modal-body">
                  <h2>DESC:</h2><h6> {{produtoById.desc}}</h6>
                  <h2>CODIGO:</h2><h6> {{produtoById.codigo}}</h6>
                  <h2>LOCPD:</h2><h6> {{produtoById.locpd}}</h6>
                  <h2>TIPO:</h2><h6> {{produtoById.tipo}}</h6>
                  <h2>UM:</h2><h6> {{produtoById.UM}}</h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="remover()">Sim</button>
                  <button type="button" class="btn btn-outline-default btn-sm" data-dismiss="modal">Não</button>
                </div>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </table>
    <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>
  </div>
</div>
