
<div class="page-header">
  <h1 class="titulo"> English In Company </h1>
</div>

<form class="busca">
  <div class="input-group" style="">
	<input id="input_search" autocomplete="off"  name="search" type="search" placeholder="Localizar Clientes" ng-model="filtro" />
	<button id="button_search" type="submit" class="input-group-addon"><i class="fa fa-search" aria-hidden="true"><i class="glyphicon glyphicon-search"></i></i></button>
	<label id="label" for="input_search"><i class="fa fa-search" aria-hidden="true"></i><i class="glyphicon glyphicon-search"></i></label>
  </div>
</form>

<div class="sentence">
  <p ng-show="contatos.length">
    Contatos cadastrados: {{contatos.length}}
  </p>
  <p ng-hide="contatos.length">
    Não há contatos cadastrados
  </p>
</div>

  <div class="table-responsive">
    <div class="panel panel-default">
      <!---           Lista de Contatos - TABELA     -->
      <table class="table table-hover">
        <tr class="cabecalho">
          <th class="text-center"> Empresa </th>
          <th class="text-center"> Cliente</th>
          <th class="text-center"> Email </th>
          <th class="text-center">Contrato</th>
          <th class="text-center"></th>
        </tr>

        <tr ng-repeat="contato in contatos | filter: filtro | orderBy:'nome'">
          <td class="text-center"> {{contato.empresa}} </td>
          <td class="text-center">{{contato.nome}}</td>
          <td class="text-center">{{contato.email}}</td>
          <td class="text-center" ng-show="contato.alert"> <span class="label label-danger">{{contato.contrato}}</span> </td>
          <td class="text-center" ng-show="!contato.alert"> <span class="label label-success">{{contato.contrato}}</span></td>
          <td class="text-center">
            <a ng-href="#/englishCadastro/{{contato._id}}" class="btn btn-outline-secondary btn-sm">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>

            <button class="btn btn-outline-default btn-sm" data-toggle="modal" ng-click="guardar(contato)" data-target="#delete-modal"><i id="trash" class="glyphicon glyphicon-trash"></i></button>
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">Excluir Cliente</h4>
                  </div>
                  <div class="modal-body">
                    Deseja realmente excluir este cliente?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="remover()">Sim</button>
                    <button type="button" class="btn btn-outline-default btn-sm" data-dismiss="modal">Não</button>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      </table>
    </div>

    <!------------------------------------------------------------>

    <p class="erro" class="text-center" ng-show="mensagem.texto">
      {{mensagem.texto}}
    </p>
  </div>

  <a type="button" id="button2"  ng-href="#/englishCadastro" class="btn btn-outline-secondary btn-sm">
  <b>Cadastrar Contato</b>
</a>
