<!-- public/partials/contatos.html --->



<div class="jumbotron">
  <img class="banner" src="imagens/banner.png" alt="">
</div>
<div class="form-group">
  <label for="email"></label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input id="nome" type="search" autocomplete="off" class="form-control" style="max-width:170px;" ng-model="filtro" name="nome" placeholder="Localizar">
  </div>
</div>
<p class="sentence" ng-show="contatos.length">
  Contatos cadastrados: {{contatos.length}}
</p>

<p class="sentence" ng-hide="contatos.length">
  Não há contatos cadastrados
</p>
<div class="table-responsive">
  <div class="panel panel-default">
    <!---           Lista de Contatos - TABELA     -->
    <table class="table table-hover">
      <tr class="cabecalho">
        <th> Telefone </th>
        <th> <i class="glyphicon glyphicon-user"></i> Cliente</th>
        <th> <i class="glyphicon glyphicon-envelope"></i> Email </th>
        <th class="text-center"></th>
      </tr>

      <tr ng-repeat="contato in contatos | filter: filtro | orderBy:'nome'">
        <td> {{contato._id}} </td>
        <td>{{contato.nome}}</td>
        <td>{{contato.email}}</td>
        <td class="text-center">
          <a ng-href="#/CadastroContato/{{contato._id}}" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>

               <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#delete-modal"><i class="glyphicon glyphicon-trash"></i></button>
               <!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este cliente?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  ng-click="remove(contato)">Sim</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
      </div>
    </div>
  </div>
</div> <!-- /.modal -->
        </td>
      </tr>
    </table>
  </div>

  <!------------------------------------------------------------>
  <a ng-href="#/CadastroContato" ng-click="emanuel()" class="btn btn-primary">
  Cadastrar Contato
</a>
  <p class="erro" class="text-center" ng-show="mensagem.texto">
    {{mensagem.texto}}
  </p>
</div>
