<div class="jumbotron">
      <h1> BEM-VINDO </h1>
      <h2>Sistema de Cadastro de Clientes</h3>
        <h4 id="txt">Clique nos ícones acima para começar! :)</h4>




    <!-- Left and right controls -->

  </div>
