<!-- partials/web.html -->
<div class="form-group">
  <label class="textform" for="nome">  </label>


</div>
<div class="form-group">
  <label class="textform" for="nome">  </label>


</div>
<div class="page-header">

  </div>

<form class="form2" ng-submit=addeditarContato()>

  <div id="icon" class="form-group">
  <label class="form-check-inline">
           <img alt="Brand" src="imagens/iconPc2.png"> Desenvolvimento Web
         </label>
  </div>
  <p class="erro" ng-show="mensagem.texto">
    {{mensagem.texto}}
  </p>
  <div class="form-group">
    <label class="textform" for="nome"> Nome </label>
    <input id="input11" type="text" autocomplete="off" class="form-control" ng-model="contato.nome" name="nome" placeholder="Nome Completo" required>
  </div>

  <div class="form-group">
    <label class="textform" for="nome"> Email </label>
    <input type="email" autocomplete="off" class="form-control" id="input11" placeholder="email@exemplo.com" name="email" ng-model="contato.email" required>
  </div>

  <div class="form-group">
    <label class="textform" for="nome"> Empresa </label>
    <input type="text" autocomplete="off" class="form-control" id="input11" placeholder="Pisandelli Web Solutions" name="empresa" ng-model="contato.empresa" required>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label class="textform" for="nome"> Endereço</label>
      <input autocomplete="off" class="form-control" id="endereco" placeholder="Avenida Santos Dumont, 327" name="endereco" ng-model="contato.endereco" >
    </div>

    <div class="form-group col-md-4">
      <label class="textform" for="nome"> Telefone </label>
      <input autocomplete="off" class="form-control" id="telefone" placeholder="(85)99977-3311" name="telefone" ng-model="contato.telefone" >
    </div>

    <div class="form-group col-md-4">
      <label class="textform" for="nome"> CNPJ </label>
      <input autocomplete="off" class="form-control" id="cnpj" placeholder="78.425.986/0036-15" name="cnpj" ng-model="contato.cnpj">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label class="textform" for="nome"> Inicio do Contrato</label>
      <input id="datetimepicker_darkweb" type="text" ng-model="contato.datainicio" class="form-control" >
    </div>

      <div class="form-group col-md-4">
        <label class="textform" for="nome"> Fim do Contrato</label>
        <input id="datetimepicker_darkweb2" type="text" ng-model="contato.datafim" class="form-control">
      </div>
    </div>

  <div class="form-group">
    <label class="textform" for="nome"> Observações </label>
    <textarea typeng-model="contato.observacoes" class="form-control" rows="5" id="observacoes" ng-model="contato.observacoes" name="observacoes"></textarea>
  </div>


</form>



      <div>
        <button type="submit" ng-click="addeditarContato()" class="btn btn-outline-secondary btn-sm">Salvar</button>
        <a href="#/web" class="btn btn-outline-default btn-sm">Voltar</a>
      </div>
