<script>
  $(document).ready(function() {
    // Add smooth scrolling to all links
    $('.scroll').on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function() {


        });
      } // End if
    });
  });
</script>
<div id="equipe">
  <section id="baneq" class="banner" role="banner">
    <div class="container">
      <div class="col-md-12 col-md-offset-1">
        <div class="banner-text text-center">
          <h1 id="t3" style="letter-spacing: 0px; color: #b7e490; text-shadow: 2px  3px #000000;"><span id="typed"></span></h1>
          <script>
            var typed = new Typed('#typed', {
              strings: ["EQUIPE"],
              typeSpeed: 200,
              callback: function() {
                return typed.siblings('.typed-cursor').remove();
              }


            });
          </script>
          <nav role="navigation"><a href="#teams" class="scroll"><img  id="imgd"  class="banner-btn" src="images/down-arrow.png"></a></nav>
        </div>
        <!-- banner text -->
      </div>
    </div>
  </section>
</div>

<div id="teams">
  <section class="section teams">
    <div class="container" style="text-align: -webkit-center; padding-top:70px;">
      <div class="row" id="fotosequipe">
        <!-- team member 1 -->
        <div class="col-md-6 col-sm-7">
          <div class="person"> <img src="images/team-1.png" alt="" class="img-responsive" style="border-radius:25%;">
            <div class="person-content">
              <h4>Thiago Lins</h4>
              <h5 class="role">FOUNDER / Marketing Digital & Design</h5>
              <p> Brasileiro, 34 anos. Empresário. Com vasta experiência na área de Marketing Digital, Administração de Negócios e Produção de Eventos, ocupou ao longo dos últimos anos cargos de diretoria na área de marketing e publicidade, hotelaria e turismo. Acumula funções de liderança nas áreas de "Produção, planejamento, marketing digital & artes gráficas". </p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="https://www.facebook.com/profile.php?id=540637355" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.instagram.com/thiagodreamsgroup/" target="_blank"><span class="fa fa-instagram"></span></a></li>
              <li><a href="https://www.linkedin.com/in/thiago-lins-16339021/" target="_blank"><span class="fa fa-linkedin"></span></a></li>



            </ul>
          </div>
        </div>
        <!-- team member 1 -->
        <!-- team member 2 -->
        <div class="col-md-6 col-sm-7">
          <div class="person"> <img src="images/team-2.png" alt="" class="img-responsive" style="border-radius:20%;">
            <div class="person-content">
              <h4>Ricardo Gameiro</h4>
              <h5 class="role">FOUNDER / Market Research</h5>
              <p> Português, 45 anos, Economista. Com especialização em Economia Monetária e Financeira, e Economia Internacional, ocupou ao longo da sua carreira profissional, cargos de diretoria nas áreas de Hotelaria e Turismo, Comércio Internacional e
                Marketing e Publicidade. Acumula funções de liderança nas áreas "Novos Negócios" e "Qualidade e Performance".</p>
            </div>
            <ul class="social-icons clearfix">

              <li><a href="https://www.facebook.com/ricardo.gameirofernandes" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.instagram.com/ricky72pt_marketingdigital/" target="_blank"><span class="fa fa-instagram"></span></a></li>
              <li><a href="https://www.linkedin.com/in/ricardo-g-fernandes-4ab37825/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="https://twitter.com/ricardogf72" target="_blank"><span class="fa fa-twitter"></span></a></li>



            </ul>
          </div>
        </div>
        <!-- team member 2 -->

      </div>
    </div>
  </section>
</div>
<div id="back4">

  <section id="back4" class="section teams">

    <h1 id="Ubuntu" style="color: #282d2f; font-size:55px; font-weight:600;  text-shadow: none;">Como podemos ajudar?</h1>

    <section class="contactt">
      <section id="contact" class="section quote">
        <div class="container" style="text-align: -webkit-center;">
          <div class="row">
            <div id="help" class="col-md-6 col-sm-7">
              <form id="form1">
                <div class="form-group">
                  <h4 id="Ubuntu">  <span style="background:transparent;" id="icontact" class="glyphicon glyphicon-earphone"></span>
                      <p><a href="tel:85997366185" style="color: #171f4e; font-weight: 400; font-size: 1.2em;">  (85)997.366.185 </a></p>
                    <p><a href="tel:85989656365" style="color: #171f4e; font-weight: 400; font-size: 1.2em;"> (85)989.656.365</a></p>
                   </h4>
                </div>
                <div class="form-group">
                  <h4 id="Ubuntu">  <span style="background:transparent;" id="icontact" class="icon icon-chat"></span><p style="color: #171f4e; font-weight: 400; font-size: 0.8em; text-transform:lowercase"> info@dreamsgroup.com.es</p></h4>
                </div>
                <div class="form-group">
                  <br id="Ubuntu"> Funcionamos das 08:00 às 18:00 de segunda a sexta.</br>

                </div>
              </form>
            </div>
            <!-- team member 1 -->

            <div id="formemail" class="col-md-6 col-sm-7">
              <div id="contatenos">
                <form class="form2">
                  <div class="form-group" style="background-color: #171f4e;">
                    <label class="textform" for="nome" id="Ubuntu" style="font-size: 22px; color: white; font-weight:100;"> FORMULÁRIO DE CONTATO </label>
                  </div>
                  <div class="form-group">
                    <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;"></label>
                    <input id="input11" type="text" autocomplete="off" class="form-control" ng-model="email.nome" name="nome" title="Nome Completo" placeholder="Nome" required="required">
                  </div>

                  <div class="form-group">
                    <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;"> </label>
                    <input type="email" autocomplete="off" class="form-control" id="input11" placeholder="Seu Email" name="email" title="Inserir Email" ng-model="email.emailfrom" required="required">
                  </div>

                  <div class="form-group">
                    <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;">  </label>
                    <textarea type "text" ng-model="email.message" class="form-control" rows="5" id="input11" ng-model="contato.observacoes" name="observacoes" placeholder="Mensagem" required="required"></textarea>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6Lfp5y8UAAAAACL2P03BdcOyFdZ4v_SHnhQQwd3t"></div>
                  <script src='https://www.google.com/recaptcha/api.js'></script>
                  <div id="sucess" class="" ng-show="sucess.texto">
                    {{sucess.texto}}
                  </div>
                  <div id="erro" class="" ng-show="erro.texto">
                    {{erro.texto}}
                  </div>
                  <div id="erro1" class="" ng-show="erro1.texto">
                    {{erro1.texto}}
                  </div>

                  <button type="submit" ng-click="TesteEmail()" class="btn btn-outline-secondary btn-sm"><b>Enviar</b></button>
                </form>




              </div>

            </div>
          </div>
        </div>

      </section>
    </section>
  </section>
</div>
