<script>
  $(document).ready(function() {
    // Add smooth scrolling to all links
    $('.scroll').on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function() {


        });
      } // End if
    });
  });

  $('.carousel').carousel({
    interval: 2000
  })
</script>
<div id="portf">
  <section class="banner" role="banner">
    <div class="container">
      <div class="col-md-12 col-md-offset-1">
        <div class="banner-text text-center">
          <h1 id="t4" style="letter-spacing: 0px; color: rgb(227, 226, 115);text-shadow: 2px  3px #000000;"><span id="typed"></span></h1>
          <script>
            var typed = new Typed('#typed', {
              strings: ["PORTFÓLIO"],
              typeSpeed: 200,
              callback: function() {
                return typed.siblings('.typed-cursor').remove();
              }


            });
          </script>
          <nav role="navigation"><a href="#works" class="scroll"><img   id="imgd" class="banner-btn" src="images/down-arrow.png"></a></nav>
        </div>
        <!-- banner text -->
      </div>
    </div>
  </section>
</div>

<!--
  HOTELARIA E TURISMO
Kina ok
Novo Fogão ok
Tempero do Mangue ok
Tchê ok
Decanter ok
Santo Açaí ok
Salut ok
Physalis ok
Tempero da Vóvó Aldeota
Pan Petit ok
HEY HO
  SAUDE E BELEZA
Dra. Kelline Bringel
Dermathos
  ESPORTE E LAZER
Orca Sports
Eleveight -->
<div id="works" class="works">
  <div class="container-fluid" style="max-width: 1400px;">
    <div class="row no-gutter" id="rowportf">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <table>
              <tbody>
              <h3> HOTELARIA E TURISMO </h3>
                  <td>

                    <div id="card" class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/kina.jpg" alt="Card image cap">

                      <div id="card-body" class="card-body" text-center>

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/kinarestaurante/', '_blank');">
                        <ul  class="social-icons ">
                          <li><span id="social-icons" class="fa fa-facebook"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/kinarestaurante/', '_blank');">
                        <ul class="social-icons">
                          <li><span id="social-icons" class="fa fa-instagram"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit">
                      <ul class="social-icons">
                        <li><span  id="social-icons" class="icon icon-picture"></span></li>
                      </ul></button>

                      </div>
                    </div>
                  </td>
                  <td>
                    <!-- END-->
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/santoacai.jpg" alt="Card image cap">
                      <div class="card-body">

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/santoacaioficial/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/santo_acai/', '_blank');">
                          <ul class="social-icons ">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                                <ul class="social-icons ">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>

                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/work-12.jpg" alt="Card image cap">
                      <div class="card-body">
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/temperomangue/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/temperodomangue/', '_blank');">
                          <ul class="social-icons">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                        <ul class="social-icons">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>
                      </div>
                    </div>
                    <!-- END -->
                  </td>
                  <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/tche.png" alt="Card image cap">
                      <div class="card-body">
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/TcheRestauranteePizzaria/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/tche.restaurante/', '_blank');">
                          <ul class="social-icons">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                        <ul class="social-icons">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>
                      </div>
                    </div>
                    <!-- END -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="carousel-item">
            <table>
              <tbody>

                    <h3> HOTELARIA E TURISMO </h3>

                <tr>

                  <td>
                    <div id="card" class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/Decanter.png" alt="Card image cap">

                      <div id="card-body" class="card-body" text-center>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/RestauranteDecanterFortaleza/', '_blank');">
                        <ul  class="social-icons ">
                          <li><span id="social-icons" class="fa fa-facebook"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/restaurantedecanterfortaleza/', '_blank');">
                        <ul class="social-icons">
                          <li><span id="social-icons" class="fa fa-instagram"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="window.open('http://www.decanterestaurante.com.br/', '_blank');">
                      <ul class="social-icons">
                        <li><span  id="social-icons" class="icon icon-global"></span></li>
                      </ul></button>
                      <button id="btn-workk" type="submit" onclick="">
                  <ul class="social-icons">
                    <li><span  id="social-icons" class="icon icon-picture"></span></li>
                  </ul></button>

                      </div>
                    </div>
                  </td>



                  <!-- END -->
                  <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/salut.png" alt="Card image cap">
                      <div class="card-body">
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/salutbistro/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/salutbistro/', '_blank');">
                          <ul class="social-icons">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                        <ul class="social-icons">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>
                      </div>
                    </div>
                    <!-- END -->
                  </td>
                  <td>
                    <!-- END-->
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/work-7.jpg" alt="Card image cap">
                      <div class="card-body">

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/novofogao/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/novofogao/', '_blank');">
                          <ul class="social-icons ">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('http://novofogao.com.br', '_blank');">
                                <ul class="social-icons ">
                          <li><span  id="social-icons" class="icon icon-global"></span></li>
                        </ul></button>
                        <button id="btn-workk" type="submit" onclick="">
                              <ul class="social-icons ">
                        <li><span  id="social-icons" class="icon icon-picture"></span></li>
                      </ul></button>

                      </div>
                    </div>
                  </td>
                  <!-- END -->
                  <td>

                    <div id="card" class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/physalis.png" alt="Card image cap">
                      <div id="card-body" class="card-body" text-center>

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/physalisdocesesalgados/', '_blank');">
                        <ul  class="social-icons ">
                          <li><span id="social-icons" class="fa fa-facebook"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/physalisdocesesalgados/', '_blank');">
                        <ul class="social-icons">
                          <li><span id="social-icons" class="fa fa-instagram"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="">
                      <ul class="social-icons">
                        <li><span  id="social-icons" class="icon icon-picture"></span></li>
                      </ul></button>

                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="carousel-item">

            <table>
              <tbody>

                    <h3> HOTELARIA E TURISMO </h3>

                <tr>

                  <td>
                    <!-- END-->
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/work-9.jpg" alt="Card image cap">
                      <div class="card-body">

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/panpetitpadaria/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/panpetitpadaria/', '_blank');">
                          <ul class="social-icons ">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                                <ul class="social-icons ">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>

                      </div>
                    </div>
                  </td>
                  <!-- END -->
                  <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/heyho.jpg" alt="Card image cap">
                      <div class="card-body">
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/heyhobeerpub/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/heyhobeerpub/', '_blank');">
                          <ul class="social-icons">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('http://justanobre.pt/', '_blank');">
                        <ul class="social-icons">
                          <li><span  id="social-icons" class="icon icon-global"></span></li>
                        </ul></button>
                      </div>
                    </div>
                    <!-- END -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="carousel-item">

            <table>
              <tbody>

                    <h3> SAÚDE E BELEZA </h3>

                <tr>
                  <td>

                    <div id="card" class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/DraKelline.jpg" alt="Card image cap">
                      <div id="card-body" class="card-body" text-center>

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/drakelline.bringel.9/', '_blank');">
                        <ul  class="social-icons ">
                          <li><span id="social-icons" class="fa fa-facebook"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/drakellinebringel/', '_blank');">
                        <ul class="social-icons">
                          <li><span id="social-icons" class="fa fa-instagram"></span></li>
                        </ul>
                      </button>
                          <button id="btn-workk" type="submit" onclick="">
                      <ul class="social-icons">
                        <li><span  id="social-icons" class="icon icon-picture"></span></li>
                      </ul></button>

                      </div>
                    </div>
                  </td>
                  <td>
                    <!-- END-->
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/Dermathos.png" alt="Card image cap">
                      <div class="card-body">

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/ClinicaDermathos/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/clinicadermathos/', '_blank');">
                          <ul class="social-icons ">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                                <ul class="social-icons ">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>

                      </div>
                    </div>
                  </td>
                  <!-- END -->
                  <td>
                    <!-- END-->
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/cidraostudart.png" alt="Card image cap">
                      <div class="card-body">

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/Cidr%C3%A3o-Studart-411874772640856/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/cidraostudart/', '_blank');">
                          <ul class="social-icons ">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                                <ul class="social-icons ">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>

                      </div>
                    </div>
                  </td>
                  <!-- END -->
                   <!-- END -->
                   <td>
                    <!-- END-->
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/georgereis.jpeg" alt="Card image cap">
                      <div class="card-body">

                          <button id="btn-workk" type="submit" onclick="window.open('https://www.facebook.com/drgeorgeregis/', '_blank');">
                          <ul  class="social-icons">
                            <li><span id="social-icons" class="fa fa-facebook"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="window.open('https://www.instagram.com/georgeregis/', '_blank');">
                          <ul class="social-icons ">
                            <li><span id="social-icons" class="fa fa-instagram"></span></li>
                          </ul>
                        </button>
                          <button id="btn-workk" type="submit" onclick="">
                                <ul class="social-icons ">
                          <li><span  id="social-icons" class="icon icon-picture"></span></li>
                        </ul></button>

                      </div>
                    </div>
                  </td>
                  <!-- END -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ol class="carousel-indicators">
      <li role="button" data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
      <li role="button" data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
      <li role="button" data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
      <li role="button" data-target="#carouselExampleSlidesOnly" data-slide-to="3"></li>
      </ol>

        <!-- carrosel -->
      </div>
    </div>
  </div>

</div>
  <style>
    .card-text {
      visibility: hidden;

    }

    .card .card>img {
      border-radius: 20px;
    }

    .card:hover.card-text {
      visibility: visible;
    }
  </style>

  <!--
<div id="back4" class="img-responsive">

  <section id="counter" class="parallax-section">
    <div class="container">
      <div id="row2" class="row">

        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
          <div class="counters-item">
            <div>
              <span data-speed="3000" data-to="565">34</span>
            </div>
            <i class="fa fa-check-square fa-3x"></i>
            <h3>Projetos Concluídos</h3>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
          <div class="counters-item">
            <div style>
              <span data-speed="3000" data-to="95">100</span>
              <span>%</span>
            </div>
            <i class="fa fa-thumbs-up fa-3x"></i>
            <h3>Feedback positivo</h3>

          </div>
        </div>

        <div id="counter3" class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="counters-item kill-margin-bottom">
            <div>
              <span data-speed="3000" data-to="2500">1219</span>
            </div>
            <i class="fa fa-laptop fa-3x"></i>
            <h3>Horas de Trabalho</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
