<script>
  $(document).ready(function() {
    // Add smooth scrolling to all links
    $('.scroll').on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function() {

        });
      } // End if
    });
  });
</script>
<div id="servicos">
  <section class="banner" role="banner">
    <div class="container">
      <div class="col-md-12 col-md-offset-1">
        <div class="banner-text text-center">
          <h1 id="t1" style="letter-spacing: 0px; color: #71b3de;text-shadow: 2px  3px #000000;">  <span id="typed"></span></h1>


          <script>
            var typed = new Typed('#typed', {
              strings: ["SERVIÇOS"],
              typeSpeed: 200,
              callback: function() {
                return typed.siblings('.typed-cursor').remove();
              }

            });
          </script>
          <nav role="navigation"><a href="#serv" class="scroll"><img  id="imgd"  class="banner-btn" src="images/down-arrow.png"></a></nav>
        </div>
        <!-- banner text -->
      </div>
    </div>
  </section>
</div>
<section id="serv" class="services service-section">
  <section id="services" class="services service-section" style="background-color:white; position:relative; top: -86px; ">
    <div class="container" id="servicescontainer">

      <div class="row">
        <div id="center" class="col-md-3 col-sm-6 services"> <a href="#app" class="scroll"><span id="iconserv" class="icon icon-mobile"></span></a>
          <div class="services-content">
            <h5 style="color: black;">Aplicativos e Softwares </h5>

          </div>
        </div>

        <div class="col-md-3 col-sm-6 services"> <a href="#mkt" class="scroll"><span id="iconserv" class="icon icon-camera"></span></a>
          <div class="services-content">

            <h5 style="color: black;">Marketing Digital</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 services"> <a href="#wb" class="scroll"><span id="iconserv" class="icon icon-laptop"></span></a>
          <div class="services-content">
            <h5 style="color: black;">WebSites</h5>
          </div>
        </div>


        <div class="col-md-3 col-sm-6 services"> <a href="#mid" class="scroll"> <span id="iconserv" class="icon icon-megaphone"></span></a>
          <div class="services-content">
            <h5 style="color: black;">Gestão de Mídias Sociais</h5>
          </div>
        </div>

      </div>

    </div>
  </section>
  <div class="container" id="servicescontainer">
    <div class="row" style="display: grid; padding-top:20px; padding-bottom:100px;">
      <section id="app">
        <div class="col-md-12 col-sm-6 services" style="background-color: #b7e6b0; border-radius:10px; margin-top: 100px;">
          <span id="iconserv" class="icon icon-mobile" style="transform: translateY(-17px); background-color: #9ddf93; color: rgb(40, 40, 40);"></span>

          <h5 style="color: black;">Aplicativos e Softwares </h5>



          <p id="ubuntu1" style="color: black;">Recentemente uma pesquisa da "Morgan Stanley Research" mostrou que o mercado dos App's crescerá 300% até final de 2017. Numa outra realizada pela "Flurry", o Brasil está em 5º lugar no ranking mundial de usuários de smartphones.</p>
          <p id="ubuntu1" style="color: black;"> Torna-se então imprescindível a adaptação e a aceitação dessa nova tecnologia para a sua empresa.</p>
          <p id="ubuntu1" style="color: black;"><b>Vantagens:</b></p>
          <p style="color: black;"> &#8226; Com o seu App disponível no mercado, é sua marca que está presente sempre na tela do smartphone ou tablet.</p>
          <p style="color: black;"> &#8226; Mobile App&#39;s demonstram ao seu cliente que sua empresa está preocupada em estar sempre conectada.</p>
          <p style="color: black;"> &#8226; Ao baixarem um App da sua empresa, o associarão mais facilmente ao serviço que precisam contratar ou produto que precisam adquirir, ganhando vantagem sobre a concorrência.</p>
          <p style="color: black;"> &#8226; Os App&#39;s podem fornecer informações do público, que os seus concorrentes não possuem tais como idade, endereço, email, hábitos de consumo entre outros.</p>
        </div>
      </section>
      <section id="mkt">
        <div class="col-md-12 col-sm-6 services" style="background-color: #c4c4c4; border-radius:10px;  margin-top: 100px;">


          <span id="iconserv" class="icon icon-camera" style="transform: translateY(-17px); background-color: #8a8686;  color: rgb(40, 40, 40);"></span>
          <h5 style="color: black;">Marketing Digital</h5>
          <p id="ubuntu1" style="color: black;"><b>Sua empresa tem a estratégia de marketing digital definida?</b></p>
          <p id="ubuntu1" style="color: black;">Verifique como sua empresa se encontra posicionada na internet e trace objetivos e estratégias para crescer.</p>
          <p id="ubuntu1" style="color: black;"> Com o correto planejamento estratégico de marketing digital, onde promovemos produtos ou serviços através dos canais de divulgação digitais, alinhado com o seu objetivo, conseguimos assim posicioná-lo no mercado digital de forma a aumentar a
            valorização da marca e construir um relacionamento concreto e duradouro com o cliente.</p>
          <p id="ubuntu1" style="color: black; text-align:center;"> ( Atrair visitantes &rarr; Converter em leads &rarr; Fechar oportunidades &rarr; Fidelizar Clientes )</p>
          <p id="ubuntu1" style="color: black;"><b> Ferramentas de &quot; Inboun marketing &quot; ( marketing de atração ) :</b> </p>
          <p style="color: black;"> &#8226; SEO ( Search Engine Optimization )</p>
          <p style="color: black;"> &#8226; Analytics</p>
          <p style="color: black;"> &#8226; Blog</p>
          <p style="color: black;"> &#8226; Podcasts</p>
          <p style="color: black;"> &#8226; Email Marketing</p>
          <p style="color: black;"> &#8226; Website</p>
          <p style="color: black;"> &#8226; Fanpage</p>
          <p style="color: black;"> &#8226; Instagram</p>
        </div>
      </section>
      <section id="wb">
        <div class="col-md-12 col-sm-6 services" style="background-color: #b0c5e6; border-radius:10px; margin-top: 100px;">
          <span id="iconserv" class="icon icon-laptop" style="transform: translateY(-17px); background-color: #83a4d7; color: rgb(40, 40, 40);"></span>

          <h5 style="color: black;">WebSites</h5>

          <p id="ubuntu1" style="color: black;"><b>Porquê desenvolver um website para a sua empresa? </b></p>
          <p id="ubuntu1" style="color: black;">Todos nós sabemos, que hoje em dia, é essencial que sua empresa esteja presente no mundo digital, pois só assim se consegue manter competitiva no mercado global do século XXI.
          </p>
          <p id="ubuntu1" style="color: black;">Visibilidade, credibilidade e eficiente gestão da informação, são características que terá que ter para conseguir atingir a competitividade.</p>
          <p>&#8226; Visibilidade </p>
          <p style="color: black;">

            Com o website da sua empresa mais facilmente o seu negócio terá visibilidade para o mundo global, visto só assim conseguir chegar ao público ou mercados físicamente indisponíveis. </p>
          <p>&#8226; Credibilidade </p>
          <p style="color: black;">

            Criando conteúdos interessantes e otimizados, com a construção de links relevantes por exemplo, a sua marca começa a ser referência na área em que atua, ganhando assim mais facilmente credibilidade.
          </p>
          <p>&#8226; Gestão da informação </p>
          <p style="color: black;">

            Com um website, é possível analisar os resultados de suas ações de forma mais clara e precisa, (como por exemplo, quais os anúncios que tiveram mais cliques ou quanto tempo as pessoas permaneceram na página) e consequentemente gerir essa informação de
            forma correta.
          </p>

          <b id="ubuntu1" style="color: black;"> Soluções Web:</b>
          <p id="ubuntu1" style="color: black;"><b> Site Institucional</b> </p>
          <p style="color: black;">Site ideal para lançar sua empresa no mercado e diminuir a distância entre sua empresa e o cliente.</p>
          <p id="ubuntu1" style="color: black;"><b> E-Commerce </b></p>
          <p style="color: black;">Site que trás todos os produtos ofertados pela loja, pagamentos online, cadastramento de clientes e plugins de segurança específicos para esse tipo de site.</p>
          <p id="ubuntu1" style="color: black;"><b> Consultoria Web </b></p>
          <p style="color: black;"> Está precisando de ajuda no site da sua empresa? Podemos te ajudar. Fazemos manutenção do seu site com o melhor custo benefício do mercado.</p>
          <p id="ubuntu1" style="color: black;"><b> Blog </b></p>
          <p style="color: black;"> É um Site que o proprietário pode atualizar com artigos, postagens ou publicações. Organizados de forma cronológica inversa, tendo como foco a temática proposta do blog, podendo ser escritos por um número variável de pessoas, de acordo com a
            política do blog. </p>

        </div>
      </section>
      <section id="mid">
        <div class="col-md-12 col-sm-6 services" style="background-color: #ece2ab; border-radius:10px; margin-top: 100px; ">



          <span id="iconserv" class="icon icon-megaphone" style="transform: translateY(-17px); background-color: #d2c477;  color: rgb(40, 40, 40);"></span>

          <h5 style="color: black;">Gestão de Mídias Sociais</h5>
          <p id="ubuntu1" style="color: black;"> Os serviços de gestão e monitoramento de redes sociais incluem o levantamento da marca, público e até mesmo dos concorrentes para traçar um projeto adequado ao seu negócio.</p>
          <p id="ubuntu1" style="color: black;">Tomamos opções estratégicas de acordo com o branding de cada empresa, nomeadamente no que diz respeito ao conteúdo para redes sociais, seu monitoramento de concorrentes e gerenciamento de crises.</p>
          <p id="ubuntu1" style="color: black;"> A partir de comparativos semanais e relatórios trimestrais, atualizamos constantemente as estratégias de engajamento de leads, além da criação e otimização de anúncios. </p>
          <p id="ubuntu1" style="color: black;">Contamos com profissionais com mais de 8 anos de experiência em planejamento, consultoria, gestão e monitoramento das redes sociais. Nossa equipe está sempre atenta às novidades do mercado.</p>
          <p>
            <p id="ubuntu1" style="color: black;"> <b> Vantagens competitivas </b></p>
            <p style="color: black;"> &#8226; Aumento da network profissional por meios digitais com a oportunidade de gerar novos negócios, atraindo novos leads e qualificando o relacionamento com seus clientes.</p>
            <p style="color: black;"> &#8226; Melhoria da sua reputação digital.</p>
            <p style="color: black;"> &#8226; Qualificação da estratégia de marketing digital, garantindo que a marca esteja sempre próxima ao público da forma correta.</p>
            <p style="color: black;"> &#8226; Facilitar o direcionamento das pessoas às landinpages para atração e captação de leads qualificados, isto signica, mais negócios para sua empresa.</p>
        </div>
      </section>

    </div>
  </div>
</section>

<div id="back4">

  <section id="" class="section teams">

    <h1 id="Ubuntu" style="color: #282d2f; font-size:55px; font-weight:600;  text-shadow: none;">Como podemos ajudar?</h1>

    <section class="contactt">
      <section id="contact" class="section quote">
        <div class="container" style="text-align: -webkit-center;">
          <div class="row">
            <div id="help" class="col-md-6 col-sm-7">
              <form id="form1">
                <div class="form-group">
                  <h4 id="Ubuntu">  <span style="background:transparent;" id="icontact" class="glyphicon glyphicon-earphone"></span>
                      <p><a href="tel:85997366185" style="color: #171f4e; font-weight: 400; font-size: 1.2em;">  (85)997.366.185 </a></p>
                    <p><a href="tel:85989656365" style="color: #171f4e; font-weight: 400; font-size: 1.2em;"> (85)989.656.365</a></p>
                   </h4>
                </div>
                <div class="form-group">
                  <h4 id="Ubuntu">  <span style="background:transparent;" id="icontact" class="icon icon-chat"></span><p style="color: #171f4e; font-weight: 400; font-size: 0.8em; text-transform:lowercase"> info@dreamsgroup.com.es</p></h4>
                </div>
                <div class="form-group">
                  <br id="Ubuntu"> Funcionamos das 08:00 às 18:00 de segunda a sexta.</br>

                </div>
              </form>
            </div>
            <!-- team member 1 -->

            <div id="formemail" class="col-md-6 col-sm-7">
              <div id="contatenos">
                <form class="form2">
                  <div class="form-group" style="background-color: #171f4e;">
                    <label class="textform" for="nome" id="Ubuntu" style="font-size: 22px; color: white; font-weight:100;"> FORMULÁRIO DE CONTATO </label>
                  </div>
                  <div class="form-group">
                    <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;"></label>
                    <input id="input11" type="text" autocomplete="off" class="form-control" ng-model="email.nome" name="nome" title="Nome Completo" placeholder="Nome" required="required">
                  </div>

                  <div class="form-group">
                    <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;"> </label>
                    <input type="email" autocomplete="off" class="form-control" id="input11" placeholder="Seu Email" name="email" title="Inserir Email" ng-model="email.emailfrom" required="required">
                  </div>

                  <div class="form-group">
                    <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;">  </label>
                    <textarea type "text" ng-model="email.message" class="form-control" rows="5" id="input11" ng-model="contato.observacoes" name="observacoes" placeholder="Mensagem" required="required"></textarea>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6Lfp5y8UAAAAACL2P03BdcOyFdZ4v_SHnhQQwd3t"></div>
                  <script src='https://www.google.com/recaptcha/api.js'></script>
                  <div id="sucess" class="" ng-show="sucess.texto">
                    {{sucess.texto}}
                  </div>
                  <div id="erro" class="" ng-show="erro.texto">
                    {{erro.texto}}
                  </div>
                  <div id="erro1" class="" ng-show="erro1.texto">
                    {{erro1.texto}}
                  </div>

                  <button type="submit" ng-click="TesteEmail()" class="btn btn-outline-secondary btn-sm"><b>Enviar</b></button>
                </form>




              </div>

            </div>
          </div>
        </div>

      </section>
    </section>
  </section>
</div>
