<script>
  $(document).ready(function() {
    $('.scroll').on('click', function(event) {

      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function() {});
      } // End if
    });

  });


</script>
<section class="banner" role="banner" style="max-width: 100vw; height: 99vh;">
  <div class="container">
    <div class="col-md-12 col-md-offset-1">
      <div class="banner-text text-center">
        <h1 id="t">Keep</h1>
        <h2>
<span id="typed"></span></h2>
        <script>
          var typed = new Typed('#typed', {
            strings: ["GROWING", "ON MOVING"],
            typeSpeed: 300,
            backDelay: 500,
            loop: true

          });
        </script>
        <a href="#intro" class="scroll"><img id="imgd" class="banner-btn" src="images/down-arrow.png" class="img-responsive"></a>
        <!-- banner text -->
      </div>
    </div>
</section>



<!-- header section -->
<!-- about section -->

<!-- about section -->
<div id="intro">


  <section class="section intro no-padding">
    <div class="container-fluid">
      <table>
        <tbody>
          <tr>
        <th id="intro-header" colspan="3" >
          <h1>Sobre Nós</h1>
          <div style="text-align:justify-content;">
            <p>Criada em 2015, a Dreams Group é uma empresa especializada em Marketing Digital, desenvolvimento de aplicativos, softwares e soluções web.</p>
            <p>Contando com uma equipe de profissionais nacionais e internacionais, altamente qualificados nas suas áreas de competência, a Dreams Group utiliza uma metodologia de trabalho flexível, adequando os seus serviços às reais necessidades dos clientes,
              auxiliando-os sempre com soluções diferenciadas.</p>
            <p> Queremos assim, ultrapassar as expectativas dos nossos clientes através de um serviço de excelência, permanentemente atualizado face à evolução constante do mercado global e com base em elevados padrões de qualidade na prestação do serviço
              ao cliente.
            </p>
            <p> "Keep on moving... keep growing..."</p>
            <p>( Dreams Group Team )</p>
          </div>
        </th>

      </tr>
      <tr>
        <td id="row1" class="col-md-2">
          <h1>Visão</h1>
          <div id="about">
            <p>Ser reconhecida a nível nacional e internacional como uma empresa global e líder nas àreas do Marketing Digital, desenvolvimento de aplicativos, softwares e soluções web.</p>
          </div>
        </td>

        <td id="rowx" class="col-md-2">
          <h1>Missão</h1>
          <div id="about">
            <p>Proporcionar soluções globais e integradas de apoio à gestão, na àrea do Marketing Digital, fomentando o sucesso das organizações e seus ativos, através do desenvolvimento de competências e criação de valor.</p>
            <p>Ultrapassar as expectativas dos nossos clientes através de um serviço de excelência, permanentemente atualizado face à evolução constante do mercado global e com base em elevados padrões de qualidade na prestação do serviço ao cliente.</p>
          </div>
        </td>

        <td id="row3" class="col-md-2">
          <h1>Valores</h1>
          <div id="about">
            <p> Orientação para o Cliente</p>
            <p> Versatilidade</p>
            <p> Inovação e Criatividade</p>
            <p> Compromisso</p>
            <p> Ética</p>
            <p> Responsabilidade Social e Ambiental.</p>
          </td>
        </tr>
        </tbody>
        </table>

      </div>
    </div>

  </section>
</div>
<!-- about section -->
<!-- about section -->

<!-- services section -->
<section id="services" class="services service-section">
  <div class="container" id="servicescontainer">
    <div class="row" id="servresponsive">
      <div id="center" class="col-md-3 col-sm-6 services"> <span id="iconserv" class="icon icon-mobile"></span>
        <div class="services-content">
          <h5 style="color: rgba(250, 216, 180, 0.88); text-shadow: 0 1px 1px black;">Aplicativos e Softwares </h5>
          <p id="ubuntu1" style="color: #d4d5d0;"> No mundo globalizado e digital que temos hoje, estar conectado "24/24" tornou-se uma prioridade. Desenvolvemos App&#39;s e Softwares pautados em usabilidade, acessibilidade e com foco nas necessidades e nos desejos do público alvo. </p>
          <a href="#/servicos" onclick="window.scrollTo(0, 700);"><span class="glyphicon glyphicon-plus-sign"></span></a>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 services"> <span id="iconserv" class="icon icon-camera"></span>
        <div class="services-content">

          <h5 href="#/servicos" style="color: rgba(250, 216, 180, 0.88); text-shadow: 0 1px 1px black;">Marketing Digital</h5>
          <p id="ubuntu1" style="color: #d4d5d0;"> Invista numa estratégia de marketing digital diferenciada e assim conseguirá resultados mensuráveis.</p>
          <a href="#/servicos" onclick="window.scrollTo(0, 700);"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 services"> <span id="iconserv" class="icon icon-laptop"></span>
        <div class="services-content">
          <h5 style="color: rgba(250, 216, 180, 0.88); text-shadow: 0 1px 1px black;">WEBSites</h5>
          <p id="ubuntu1" style="color: #d4d5d0;"> Criamos e gerenciamos aplicações para web, utilizando tecnologias mais atuais do mercado, fornecendo maior segurança e desempenho, tudo isso aliado com design moderno e fluido. As soluções são planejadas de acordo com o objetivo da empresa no
            mundo virtual.
          </p>
          <a href="#/servicos" onclick="window.scrollTo(0, 700);"><span class="glyphicon glyphicon-plus-sign" style="margin-top:0.5px;"></span></a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 services"> <span id="iconserv" class="icon icon-megaphone"></span>
        <div class="services-content">
          <h5 style="color: rgba(250, 216, 180, 0.88); text-shadow: 0 1px 1px black;">Gestão de Mídias Sociais</h5>
          <p id="ubuntu1" style="color: #d4d5d0;">Marque presença nas redes sociais, tenha uma posição de destaque e aproxime-se de seus clientes.</p>
          <a href="#/servicos" onclick="window.scrollTo(0, 700);"> <span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- services section -->
<!-- work section -->
<section id="teams" class="section teams">

  <h1 id="Ubuntu" style="color: #282d2f; font-size:55px; font-weight:600;  text-shadow: none;">Como podemos ajudar?</h1>

  <section class="contactt">
    <section id="contact" class="section quote">
      <div class="container" style="text-align: -webkit-center;">
        <div class="row">
          <div id="help" class="col-md-6 col-sm-7">
            <form id="form1">
              <div class="form-group">
                <h4 id="Ubuntu">  <span style="background:transparent;" id="icontact" class="glyphicon glyphicon-earphone"></span>
                    <p><a href="tel:85997366185" style="color: #171f4e; font-weight: 400; font-size: 1.2em;">  (85)997.366.185 </a></p>
                  <p><a href="tel:85989656365" style="color: #171f4e; font-weight: 400; font-size: 1.2em;"> (85)989.656.365</a></p>
                 </h4>
              </div>
              <div class="form-group">
                <h4 id="Ubuntu">  <span style="background:transparent;" id="icontact" class="icon icon-chat"></span><p style="color: #171f4e; font-weight: 400; font-size: 0.8em; text-transform:lowercase"> info@dreamsgroup.com.es</p></h4>
              </div>
              <div class="form-group">
                <br id="Ubuntu"> Funcionamos das 08:00 às 18:00 de segunda a sexta.</br>

              </div>
            </form>
          </div>
          <!-- team member 1 -->

          <div id="formemail" class="col-md-6 col-sm-7">
            <div id="contatenos">
              <form class="form2">
                <div class="form-group" style="background-color: #171f4e;">
                  <label class="textform" for="nome" id="Ubuntu" style="font-size: 22px; color: white; font-weight:100;"> FORMULÁRIO DE CONTATO </label>
                </div>
                <div class="form-group">
                  <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;"></label>
                  <input id="input11" type="text" autocomplete="off" class="form-control" ng-model="email.nome" name="nome" title="Nome Completo" placeholder="Nome" required="required">
                </div>

                <div class="form-group">
                  <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;"> </label>
                  <input type="email" autocomplete="off" class="form-control" id="input11" placeholder="Seu Email" name="email" title="Inserir Email" ng-model="email.emailfrom" required="required">
                </div>

                <div class="form-group">
                  <label class="textform" for="nome" style="font-size: 18px; color: black; font-weight:100;">  </label>
                  <textarea type "text" ng-model="email.message" class="form-control" rows="5" id="input11" ng-model="contato.observacoes" name="observacoes" placeholder="Mensagem" required="required"></textarea>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lfp5y8UAAAAACL2P03BdcOyFdZ4v_SHnhQQwd3t"></div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div id="sucess" class="" ng-show="sucess.texto">
                  {{sucess.texto}}
                </div>
                <div id="erro" class="" ng-show="erro.texto">
                  {{erro.texto}}
                </div>
                <div id="erro1" class="" ng-show="erro1.texto">
                  {{erro1.texto}}
                </div>

                <button type="submit" ng-click="TesteEmail()" class="btn btn-outline-secondary btn-sm"><b>Enviar</b></button>
              </form>




            </div>

          </div>
        </div>
      </div>

    </section>
  </section>
</section>


<div id="back4" class="img-responsive">

  <section id="counter" class="parallax-section">
    <div class="container">
      <div id="row2" class="row">

        <!-- first count item -->
        <!-- second count item -->
        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
          <div class="counters-item">
            <div>
              <span data-speed="3000" data-to="565">36</span>
            </div>
            <i class="fa fa-check-square fa-3x"></i>
            <h3>Projetos Concluídos</h3>
          </div>
        </div>
        <!-- end second count item -->

        <!-- third count item -->
        <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
          <div class="counters-item">
            <div style>
              <span data-speed="3000" data-to="95">100</span>
              <span>%</span>
            </div>
            <i class="fa fa-thumbs-up fa-3x"></i>
            <h3>Feedback positivo</h3>

          </div>
        </div>
        <!-- end third count item -->

        <!-- fourth count item -->
        <div id="counter3" class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="counters-item kill-margin-bottom">
            <div>
              <span data-speed="3000" data-to="2500">1458</span>
            </div>
            <i class="fa fa-laptop fa-3x"></i>
            <h3>Horas de Trabalho</h3>
          </div>
        </div>
        <!-- end fourth count item -->

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

  <!-- footer top -->
</div>
