page-login {


  ion-content{
    background-color: #0d3a83 !important;
  }
 #key{
   color: white;
   font-size: 10.5em;
   display: flex;
   justify-content: center;
   margin-bottom: 4px;
   border-radius: 30px;
 }
 ion-title,form{
   margin-top: 5em;
 }

 ion-item{
   background-color:#0d3a83 !important;
 }
 ion-label{
   text-decoration: none;
   color: white !important;
   text-align: center;
 }
 ion-input{
   color: white !important;
 }
 ion-list{
   position: relative;
   top: 80px;
 }
 #buttonLogin{
   background-color: white;
   color: rgb(2, 30, 59) !important;
   margin-top: 2em;
 }
 #buttonLogin:active{
   background-color: transparent;
   border: 4px solid white;
 }



}
