<ion-header>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
</ion-header>
<ion-content padding>

  <ion-title text-center>SMART LAB</ion-title>
  <ion-icon id="key" name="contact"></ion-icon>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input type="email" placeholder="" formControlName="email" text-center></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Senha</ion-label>
      <ion-input type="password" placeholder="" formControlName="password" text-center></ion-input>
    </ion-item>

    <div text-center>
      <button ion-button round id="buttonLogin" type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </div>

  </form>

</ion-content>
